@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');
    *{
margin: 0;
padding: 0;
box-sizing: border-box;
text-transform: capatalize;
font-family: 'Cinzel', serif;
}
body{
display: grid;
place-content: center;
min-height: 100vh;
}
.container{
    background-color: #FFFFFF
    width 700px;
    height: 400px;
    box-shadow: 0px 10px 0px 
}
