@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');
    *{
margin: 0;
padding: 0;
box-sizing: border-box;
text-transform: capatalize;
font-family: 'Cinzel', serif;
}
body{
display: grid;
place-content: center;
min-height: 100vh;
}
.container{
    background-color: #FFFFFF;
    width: 500px;
    height: 300px;
    box-shadow: 0px 10px 0px
    
}

.left-box h1{
    position: absolute;
    width: 250px;
    height: 400px;
    background-color:#FFFFFF;
    border-radius: 10px 0px 0px 10px;
}

.left-box h1{
    margin-top:
    t
}
